.explorer {
  font-weight: normal;
  margin: 0 auto;
  position: relative;
  text-align: left;

  .Header-1 {
    margin: 0;
  }

  &__header__banner {
    height: 102px;
  }

  &__result-item {
    &__addresses {
      ol {
        margin: 0;
        padding-left: 20px;
      }
      ul {
        list-style-type: none;
      }
    }
  }
}
