@import "../../scss/custom_react_select";
@import "../../scss/variables";

.explorer__form {
  margin: 0 auto;
  padding: 2rem;
  max-width: $content-max-width;
  position: relative;

  legend {
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 1.5rem;
    zoom: 1;
    display: block;
    max-width: 46rem;
    box-sizing: inherit;
  }

  &__input {
    height: 4.4rem;
  }

  &__group {
    display: inline-block;
    width: 100%;

    label {
      color: #000;
      font-size: 1.7rem;
      margin-top: 1.5rem;
      zoom: 1;
    }

    p {
      margin: 0;
      margin-top: -2px;
    }

    .Select {
      width: 100%;
    }

    .explorer__form__error {
        color: red;
      }

    &--error {
      .explorer__form__input {
        background-color: #f7d8d8;
        border: 1px solid red;

        &:focus {
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
        }
      }
      .explorer__form__message {
        color: red;
      }
    }
  }

  &__radio {
    p {
      padding-top: 3px;
      padding-bottom: 3px;
    }

    label {
      font-weight: normal;
      line-height: 1.5;
      margin: 0;
      max-width: none;
    }
  }

  .Select-control:focus-within {
    outline: 2px dotted #aeb0b5;
    outline-offset: 3px;
  }

  .Select-control, input[type=text] {
    height: ($host-to-base-font-ratio * 3rem);
  }

  .Select-placeholder, .Select-value {
    padding: ($host-to-base-font-ratio * 0.4rem) 10px;
  }

  .Select-placeholder {
    color: #757575;
  }

  .Select-input > input {
    padding: 0;
  }
}
