@import "../../scss/variables";

.explorer__result-item {
  margin-top: 10px;

  &__detail {
    margin-top: 1rem;
  }

  a.explorer__result-item__label {
    color: #126aa8;
  }

  ol {
    margin: 0;
    padding-left: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  td {
    border: 0;
    vertical-align: top;
    &:nth-child(2) {
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  &__addresses {
    margin: 0;
    padding: 0 0 0 20px;
  }

  &__detail {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    td {
      padding: .5em 1em;
      vertical-align: top;

      &.explorer__result-field-name {
        min-width: 15rem;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  &-table {
    border: 4px solid #112e51;
    border-collapse: collapse;
    display: inline-block;
    margin: 0;
    min-width: auto;
    vertical-align: top;
    width: auto;
    tbody {
    }
    td {
      min-width: 8rem;
      padding: 0.5rem;
      text-align: center;
      white-space: nowrap;

      &.explorer__result-field-name {
        min-width: 8rem;
      }
    }
  }
}

.explorer__result {
  max-width: $content-max-width;
  margin: 3rem auto 0;
  padding: 0 2rem;

  &__pages {
    margin-top: 12px;
  }

  &__page-item {
    background-color: #E6E6E6;
    border: transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    padding: .5em 1em;
    text-decoration: none;

    &.disabled {
      cursor: not-allowed;
      opacity: .4;
    }
  }
}
